# MacOS
.DS_Store

# vs code
.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

# node modules and build
node_modules/
build/


# ignore openzeppelin files except project 
.openzeppelin/
!.openzeppelin/project.json
